.navbar {
    padding: 20px;
    margin-bottom: 0px;
    border-bottom: 1px #fff solid;
}

.search-bar {
    height: 50px;
}

.btn-search {
    height: 50px;
}

.navbar-brand {
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: 500;
}

.nav-item {
    font-size: 1.2rem;
}

.homeBanner {
    background-image: url(../img/plane.jpg);
    min-height: 624px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.bannerInfo {
    width: 100%;
    text-align: center;
    padding-top: 50px;
}

@media (min-width: 768px) {
    .bannerInfo {
        padding-top: 160px;
    }
}

.bannerInfo h1 {
    color: navy;
    margin: 0 0 24px 0;
    font-size: 45px;
    font-weight: 500;
}