.search-bar {
    height: 50px;
}

.btn-search {
    height: 50px;
}

.navbar-brand {
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: 500;
}

.nav-item {
    font-size: 1.2rem;
}

.bannerInfo {
    width: 100%;
    text-align: center;
    padding-top: 50px;
}

@media (min-width: 768px) {
    .bannerInfo {
        padding-top: 160px;
    }
}

.bannerInfo h1 {
    font-family: 'Raleway', sans-serif;
    color: navy;
    margin: 0 0 24px 0;
    font-size: 45px;
    font-weight: 500;
}

.banner {
    min-height: 580px;
}